<h3>Top Doctors</h3>
<div class="grid grid-pad">
  <div *ngFor="let d of doctors" (click)="gotoDetail(d)" class="col-1-4">
    <div class="module hero">
      <h4>{{d.name}}</h4>
    </div>
  </div>
</div>