<h1>{{title}}</h1>
<h2>List of doctors</h2>
<ul class="list-doc">
  <li *ngFor="let doc of doctors" [class.selected]="doc === selectedDoctor" (click)="onSelect(doc)">
    <span class="bold"> {{doc.name}}</span>,<br> specjalizacje: {{doc.specjalizacja}}<button class="delete-button" (click)="deleteDoc(doc, $event)">Delete</button>
  </li>
</ul>
<button (click)="addDoctor()">Add New Doctor</button>