<div *ngIf="doctor" style="background-color:aliceblue; border: 1px;">
  <h2>Edycja/dodawanie lekarza: {{doctor.name}}</h2>
  <div *ngIf="doctor._id!==undefined"><label>Id: </label>{{doctor._id}}</div>
  <div>
    <label>Nazwisko i imię: </label>
    <input [(ngModel)]="doctor.name">
    <span *ngIf="doctor && doctor.name && doctor.name.length<3" class="error">Wymagane 3 znaki!</span>
  </div>

  <div>
    <label>Specjalizacje:</label>
    <input [(ngModel)]="newSpec">
    <button (click)="addSpec()">Dodaj kolejna</button>
    <li *ngFor="let spec of doctor.specjalizacja" (click)="delSpec(spec)">
      {{spec}}
    </li><button *ngIf="doctor.specjalizacja.length>0" (click)="delAllSpec()">Usuń wszystkie specjalizacje</button>
  </div>

  <button (click)="back()">Zaniechaj</button>
  <button *ngIf="doctor && doctor.name && (doctor.name.length>2) && doctor.specjalizacja.length>0" (click)="save()">Save</button>

  <plan-visit *ngIf="doctor && doctor._id && doctor._id.valueOf()"></plan-visit>
</div>