<div style="background-color: azure;">
    <h2 style="text-align: center">Wizyty</h2>
    <p style="position:relative" *ngFor="let poz of lista">Termin: {{poz.date}}, od: {{poz.hour1}} do {{poz.hour2}}<br> Miasto: {{poz.city}}, specjalizacja: {{poz.doctor_specjalizacja}}
        <button (click)="editPoz(poz)" class="editBut">Edytuj</button>
        <button (click)="delPoz(poz)" class="delBut">Usuń</button>
        <span *ngFor="let res of docreservation">
        <div *ngIf="res.Visit._id===poz._id" style="background-color: yellow">Zarezerwowane przez: {{res.User.name}} 
            <span *ngIf="res.reason && res.reason.length>0">(podana przyczyna: {{res.reason}})</span>
</div>
</span>

</p>
<div *ngIf="lista && lista.length===0">Brak wizyt do wyświetlania</div>
<button *ngIf="doctor && doctor._id && doctor._id.valueOf()" (click)="addNewVisit()">Dodaj wizytę</button>
</div>