<div *ngIf="visit && doctor">
    <h2>Edycja/dodawanie wizyty</h2>
    <div><label>Id wizyty: </label>{{visit._id}}</div>
    <div>
        <label>Data: </label>
        <input [(ngModel)]="visit.date" type="date">
    </div>
    <div>
        <label>Godzina: </label>
        <input [(ngModel)]="visit.hour1" type="time">
    </div>
    <div>
        <label>Czas zakonczenia: </label>
        <input [(ngModel)]="visit.hour2" type="time">
    </div>
    <div>
        <Label>Lekarz: </Label>{{doctor.name}}
    </div>
    <div>
        <Label>Specjalizacja:</Label>
        <select [(ngModel)]="specjalizacja">
            <option *ngFor="let spec of doctor.specjalizacja" [value]="spec">{{spec}}</option>
        </select>
    </div>
    <div>
        <label>Miasto: </label>
        <input [(ngModel)]="visit.city">
    </div>
    <button (click)="back()">Zaniechaj</button>
    <button *ngIf="specjalizacja.length>0 && visit.city.length>0 && visit.date && visit.hour1 && visit.hour2" (click)="save()">Zapisz</button>
</div>