label {
  display: inline-block;
  width: 9em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: cornsilk;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}
.error{
  color:red;
  text-shadow: 2px;
}

p {
    border-bottom: 6px solid red;
    background-color: lightgrey;
}
.editBut{
    margin-top:0;
    position:absolute;
    right: 15%;
    top: 8px;

}
.delBut{
    position:absolute;
    right: 5%;
    margin-top:0;
    top: 8px;
}

li {
    list-style: square;
    color: green;
}

li:hover{
  color: red;
}
