  .selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .list-doc {
    margin: 0 0 20em 0;
    list-style-type: none;
    padding: 0;
    width: 30em;
    display: inline-block;
  }
  .list-doc li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    border-radius: 4px;
  }
  .list-doc li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .list-doc li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .list-doc .text {
    position: absolute;
    top: 30px;
    
  }
  .list-doc .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 1.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    height: 1em;
    margin-right: .8em;
    border-radius: 4px 10px 10px 4px;
  }

  .delete-button{
    float: right;
    color: mediumseagreen;
  }

  .bold{
    font-weight: 600;
  }