.login{
    font-size: 12px;
    border: 5px solid deepskyblue ;
    border-radius: 7px;
    background-color: lightskyblue;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 15%;
    padding-right: 10%;
    width: 20%;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  margin-left: 25%;
}

label {
  display: inline-block;
  width: 20%;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;

}

.ok{
  font-size: 8px;
  font-family: Arial;
  font-style: italic;
    border: 1px solid green ;
    border-radius: 7px;
    background-color: mediumseagreen;
    width: 100%;
    color: lightslategray;
}

.logout{
  float: right;
}