.usingParam{
    background-color: deepskyblue;
    margin-left: 20%;
    margin-right: 20%;
    opacity: 0.4;
}

.nextBut{
    background-color: seagreen;
    opacity: 0.8;
     margin-left: 10%;
    margin-right: 10%;
}

.backBut{
    opacity: 0.7;
    background-color: red;
    margin-left: 25%;
    margin-right: 25%;
}

.submitBut{
    opacity: 0.8;
    background-color: yellowgreen;
    margin-left: 5%;
    margin-right: 5%;
}

.title{
    font-size: 15px;
}

StackLayout {
    background-color: aqua;
}

/*.new{
    background-color: darksalmon;
}*/

ActionBar {
    background-color:  deepskyblue;
    color: white;
}

.reserwationBar{
    background-color:  lightcoral;
}

.myreservationBar{
    background-color:  green;
}