<StackLayout>
    <TextField hint="ID" keyboardType="phone"
      autocorrect="false" autocapitalizationType="none" [(ngModel)]="id"></TextField>
    <TextField hint="Password" secure="true" [(ngModel)]="password"></TextField>
    <Button (tap)="tryLogIn()" text="log in">
</StackLayout>