<ActionBar title="Logowanie"></ActionBar>
<StackLayout>
    <TextField hint="Identyfikator dostępu" keyboardType="email"
      autocorrect="false" autocapitalizationType="none" [(ngModel)]="id"></TextField>
    <TextField hint="Hasło" secure="true" [(ngModel)]="password"></TextField>
    <Button (tap)="tryLogIn()" text="log in" class="nextBut"></Button>
</StackLayout>