<ActionBar title="Dokonane rezerwacje" class="myreserwationBar"></ActionBar>
<StackLayout>
    <ScrollView height="55%">
        <ListView class="title" id="myList" [items]="lista" (itemTap)="listViewItemTap($event)">
        </ListView>
    </ScrollView>
    <StackLayout *ngIf="selected">
        <label text="...*..............*...........*.....*....*..*.*........................................................"></label>
        <label text="Szczegóły wizyty:"></label>
        <label class="title" text="Lekarz {{visitDetail.doctor_specjalizacja}} {{visitDetail.doctor_name}} "></label>
        <label class="title" text="Miasto: {{visitDetail.city}}"></label>
        <label class="title" text="Termin: {{visitDetail.date}}"></label>
        <label class="title" text="Godzina: {{visitDetail.hour1}}"></label>
        <label class="title" text="Godzina zakończenia: {{visitDetail.hour2}}"></label>
        <label text="Powód: {{reason}}"></label>

        <Button *ngIf="ifDone()" (tap)="delete()" text="Anuluj wizytę" class="backBut"></Button>
    </StackLayout>
</StackLayout>