<ActionBar title="Rezerwacja: wybierz wizytę" class="reserwationBar"></ActionBar>
<ListView class="title" id="myList" [items]="lista" (itemTap)="listViewItemTap($event)" class="new"></ListView>
<StackLayout class="title" *ngIf="lista && lista.length===0">
<Label text="Brak dostępnych wizyt. Zmień parametry wyszukiwania"></Label>
<Button class="backBut" (tap)="back()" text="Back"></Button>
</StackLayout>