﻿button{
    horizontal-align: center;    
}

button {
    font-size: 16;
}

.title {
    font-size: 16;
    margin: 20;
}

.message {
    font-size: 14;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 


.pos{
    max-width: 400px;
    height: 40px;
    text-align: right;
}

.text-pos {
    background: red;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
}