<ActionBar title="Przypisane wizyty" style="background-color: orange"></ActionBar>
<StackLayout>
    <Button (tap)="addNew()" text="Dodaj nowa wizytę"></Button>
    <ScrollView height="90%">
        <ListView id="myList" [items]="list" (itemTap)="listViewItemTap($event)" (longPress)="listViewItemLongPress($event)">
        </ListView>
    </ScrollView>
     <Label *ngIf="list.length===0" text="Brak wizyt. Dodaj nowa"></Label>
</StackLayout>