<ActionBar title="Szczegóły wizyty" style="background-color: purple"></ActionBar>
<ScrollView>
    <StackLayout *ngIf="visit">
        <label text="Id wizyty: {{visit._id}}"></label>
        <label text="Data:"></label>
        <DatePicker [(ngModel)]="visit.date"></DatePicker>
        <label text="Godzina:"></label>
        <TimePicker  [(ngModel)]='timePicker1'></TimePicker>
        <label text="Czas zakończenia:"></label>
        <TimePicker  [(ngModel)]='timePicker2'></TimePicker>
        <label text="Specjalizacja:"></label>
        <ListPicker *ngIf="!visit.doctor_specjalizacja"  #picker [items]="doctor.specjalizacja" (selectedIndexChange)="selectedIndexChanged(picker)" [selectedIndex]="spec"></ListPicker>
        <Label *ngIf="visit.doctor_specjalizacja" text="Wybrano {{visit.doctor_specjalizacja}}. Edycja niemożliwa."></Label>
        <label text="Miasto:"></label>
        <TextField [(ngModel)]='visit.city'></TextField>

        <Button (tap)="save()" text="Zapisz"></Button>
    </StackLayout>
</ScrollView>