<ActionBar title="Szczegóły wizyty" style="background-color: skyblue"></ActionBar>
<StackLayout *ngIf="visit">
    <Label text="Data: {{visit.date}}"></Label>
    <Label text="Godzina: {{visit.hour1}}"></Label>
    <Label text="Planowana godzina zakończenia: {{visit.hour2}}"></Label>

    <button text="Powrót" (tap)="back()"></button>

</StackLayout>